.nav-bar {
    margin: 0px;
    border: 1px;
    border-radius: 0px;
}

.hov-ani {
    height: 100px;
    width: 200px;
    cursor: pointer;

    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

.hov-ani:hover {
    box-shadow: 3px 3px 10px lightgrey;

    -webkit-transform: translateX(-3px) translateY(-3px);
    -ms-transform: translateX(-3px) translateY(-3px);
    transform: translateX(-3px) translateY(-3px);

    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}